.docsify-github-footer {
  & > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.5em 0.8em;
    list-style-type: none;

    & > li {
      display: flex;
      place-items: center;
      gap: 0.8em;

      &:not(:last-child)::after {
        content: "|";
        color: var(--mono-tint2);
        font-size: var(--font-size-s);
      }
    }

    & > li > a {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-size: var(--font-size-s);
      text-decoration: none;

      & > span {
        border-bottom: var(--link-border-bottom);
        color: var(--link-color);
        text-decoration: var(--link-text-decoration);
        text-decoration-color: var(--link-text-decoration-color);
      }

      &:hover > span {
        border-bottom: var(
          --link-border-bottom--hover,
          var(--link-border-bottom, 0)
        );
        color: var(--link-color--hover, var(--link-color));
        text-decoration: var(
          --link-text-decoration--hover,
          var(--link-text-decoration)
        );
        text-decoration-color: var(
          --link-text-decoration-color--hover,
          var(--link-text-decoration-color)
        );
      }
    }
  }
}
